@use "sass:math";
@import '../../../../styles/variables';

nav ul li, nav ul li a {
  display: flex;
  align-items: center; // Centra verticalmente el contenido
  cursor: pointer;
}

/* Normaliza los estilos de los enlaces */
nav.functionMenu ul li a {
  color:$theme-header-fg-color-hover; /* Color base */
  text-decoration: none; /* Sin subrayado */
  display: flex;
  align-items: center; // Centra íconos y texto verticalmente
}

nav.functionMenu ul li a:hover {
  color: $theme-header-fg-color-hover; /* Color al hacer hover */
}

/* Aplica los mismos estilos al enlace de syncVault */
nav.functionMenu ul li a[routerLink],
nav.functionMenu ul li a:not([routerLink]) {
  color: inherit; /* Usa el color definido en los estilos base */
}

nav.functionMenu ul li a[routerLink]:hover,
nav.functionMenu ul li a:not([routerLink]):hover {
  color: $theme-header-fg-color-hover;
}


:host{

  color: $theme-header-fg-color;
  font-family: $theme-header-font-family;

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo-wrapper {
    display: flex; /* Usamos flex para que el contenedor se ajuste al contenido */
    align-items: center; /* Alineamos el contenido verticalmente */
    overflow: hidden;
    img {
      height: 60px;
      width: auto;
      max-width: 100%;
    }
  }


  @media not ((min-width: 1200px) and (orientation: landscape)) {
    background-image: $theme-header-bg-image;
    background-position: center;
    background-size: cover;
    z-index: 1;
    display: block; /* Asegura que el host ocupe el espacio necesario */
    width: 100%;
    height: calc(60px + 15px);
    padding: 5px;
    font-size: 1.3rem;
    margin-bottom: 20px;

    .content-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;


      align-items: center;
      width: 100%;
      box-sizing: border-box;

      fa-icon{
        font-size: 60px;
      }

      .hamburger-button {
        order: 1;
        display: inline-block;
        cursor: pointer;

        .bar1, .bar2, .bar3 {
          width: $mobile-header-item-size;
          height: 6px;
          background-color: $theme-header-fg-color;
          margin: 10px 0;
          transition: 0.4s;
        }

        /* https://www.w3schools.com/howto/howto_css_menu_icon.asp */
        &.deployed {
          .bar1 {
            transform: translate(0, 16px) rotate(-45deg);
          }

          .bar2 {
            opacity: 0;
          }

          .bar3 {
            transform: translate(0, -16px) rotate(45deg);
          }
        }
      }

      .add-button{
        order: 3;
      }

      .logo-wrapper {
        width: 50%;
        order: 2;
        img{
          height: 40px;
          margin: 0 auto;
        }
      }

      .sessionLanguageOptions{
        width: 100vw;
        order: 5;
        top: $mobile-header-height;
        background: red;
      }

      .functionMenu {
        position: relative;
        width: 100vw;
        order: 4;
        .vault{
        }
        .profile{
        }
      }


      .sessionLanguageOptions, .functionMenu{
        display: none;
        background-color: black;
        ul{
          display: flex;
          flex-direction: column;
          margin-lefT: 40px;
          li{
            margin: 5px 0;
            display: flex;
            align-items: center;
            fa-icon{
              //margin-right: 20px;
              width: 100px;
              text-align: center;
            }
          }
          li:hover, active{
            color: $theme-header-fg-color-hover;
          }
        }
        span{

        }
        select {
          cursor: pointer;
          outline:0;
          color: #ffffff;
          padding: 0 10px;
          min-width: 120px;
          border-radius: 0;
          border: 1px solid $theme-header-fg-color;
          background-color: #ffffff00;
          font-size: 1.3rem;
        }
        select:hover, select:focus{

          background-color: $theme-header-bg-color;
          color: $theme-header-fg-color-hover;
          border: 1px solid $theme-header-fg-color;
        }
        &.deployed{
          display: block;
        }

      }


    }




  }


  @media (min-width: 1200px) and (orientation: landscape) {
    height: $desktop-header-height;
    background-image: $theme-header-bg-image;
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-bottom: 50px;

    /* Translucid lower menu background */
    &::before, &::after{
      position: absolute;
      height: $desktop-header-menu-height;
      top: 80px;
      z-index: -1;
      width: 100%;
      content: "";
      background-color: rgba(5, 70, 108, 0.5);
    }

    .content-wrapper {

      .hamburger-button{
        display: none;
      }


      &>*{
        padding: 10px 0 10px 0;
      }
      nav{
        height: 40px;
        ul{
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 40px;

          li{
            display: flex;
            align-items: center;
            &:hover{
              color: $theme-header-fg-color-hover;
            }
          }
        }
      }

      .logo-wrapper {
        height: 80px;
        width: 50%;
      }

      .sessionLanguageOptions {
        li:focus{
          color: $theme-header-fg-color-hover;
        }
        select {
          cursor: pointer;
          outline:0;
          color: #ffffff;
          padding: 0 10px;
          min-width: 120px;
          border-radius: 0;
          border: 1px solid $theme-header-fg-color;
          background-color: #ffffff00;
          font-size: 0.9rem;
        }
        select:hover, select:focus{

          background-color: $theme-header-bg-color;
          color: $theme-header-fg-color-hover;
          border: 1px solid $theme-header-fg-color;
        }
      }

      .functionMenu {
        width: 100%;
        .vault{
          float: left;
        }
        .profile{
          float: right;
        }
      }

      fa-icon{
        padding-right: 10px;
        font-size: 1.25rem;
      }


    }

  }






}
