@import '../../../styles/main';

:host {

}

.browser-container {
  flex: 0 0 auto;
  width: 100%;
}

#split-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* MOBILE ---------------------------------------------------------------- */

@media not ((min-width: $media-width-transition) and (orientation: landscape)) {


  #split-container {
    position: relative;
    height: calc(100%); /* Contenedor ocupa toda la altura del viewport */
    display: flex;
    flex-direction: column;
  }

  .split {
    overflow: auto; /* Permite el desplazamiento si hay mucho contenido */
  }

}

/* DESKTOP --------------------------------------------------------------- */

@media ((min-width: $media-width-transition) and (orientation: landscape)) {
  :host {
    display: flex;
    flex-direction: column;
    #split-container {
      flex-direction: row;
    }

    .split.top-pane {
      width: 25%;
      flex: 0 0 25%;
    }

    .split.bottom-pane {
      width: 75%;
      flex: 0 0 75%;
    }
  }

}
