

.actionButton{
  .innerButton{
    display: flex;
    align-items: center;
    gap: 4px;
  }
}



@media not ((min-width: $media-width-transition) and (orientation: landscape)) {
  .only-desktop {
    display: none;
  }

  .actionButton{
    .innerButton{
      font-size: 1.1rem;
      .label{
        display: none;
      }
    }
  }


  .gutter.gutter-vertical {
    background-color: map-get($mycofre-palette, 200);
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: row-resize;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
      content: "::::::::"; /* Carácter especial o texto */
      display: inline-block; /* Asegura que se renderice correctamente */
      font-size: 14px; /* Tamaño del carácter */
      margin: 0;
    }
  }

}


@media ((min-width: $media-width-transition) and (orientation: landscape)) {
  .only-mobile{
    display: none;
  }
}

