  <h1>Detalle de credencial</h1>

  <form [formGroup]="credentialForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="serviceName" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>URL</mat-label>
      <input matInput formControlName="serviceUrl" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Usuario</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Contraseña</mat-label>
      <!-- https://fireflysemantics.medium.com/angular-material-password-field-with-visibilitytoggle-d5342f97afbe -->
      <input matInput formControlName="password" type="password" [type]="hidePassword ? 'password' : 'text'" />
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>


    <h2>Categorías</h2>

    <div class="category-buttons">
      <button
        mat-stroked-button
        type="button"
        *ngFor="let category of categories"
        [class.selected]="selectedCategories.includes(category.id)"
        (click)="toggleCategorySelection(category.id)">
        {{ category.name }}
      </button>
    </div>

    <div class="actions">
      <button mat-raised-button color="primary" (click)="onCancel()">Cancelar</button>
      <button mat-raised-button color="accent" type="submit" [disabled]="credentialForm.invalid">Guardar</button>
    </div>
  </form>
