@import '../../../styles/main';


/* MOBILE */
@media not ((min-width: $media-width-transition) and (orientation: landscape)) {
  :host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    height: 100vh;
    background: url('/assets/images/bg-login.webp') no-repeat center center;
    background-size: cover;
    overflow-y: scroll;
  }

  .header{
    flex: 0 0 auto;
    justify-content: center;
    align-items: flex-end;

    .logo-image{
      width: 300px;
      max-width: 100%;
    }
  }

  .footer{
    flex: 0 0 auto;
  }

  /* Caja principal */
  .request-delete-wrapper {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 8px;
    max-width: 350px; /* Esto asegura que no exceda 300px */
    text-align: center;
    flex: 0 0 auto;
    .full-width {
      width: 100%;
      margin-bottom: 16px;
    }
    h1{
      margin-bottom: 20px;
    }
    .actions{
      display: flex;
      justify-content: space-around;
    }
  }
}


/* DESKTOP */
@media ((min-width: $media-width-transition) and (orientation: landscape)) {
  :host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    height: 100vh;
    background: url('/assets/images/bg-login.webp') no-repeat center center;
    background-size: cover;
    overflow-y: scroll;

    .header{
      flex: 0 0 auto;

      .logo-image{
        width: 350px;
        max-width: 100%;
      }
    }

    .footer{
      flex: 0 0 auto;
    }

    /* Caja principal */
    .request-delete-wrapper {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      max-width: 350px; /* Esto asegura que no exceda 300px */
      text-align: center;
      flex: 0 0 auto;
      width: 100%;
      .full-width {
        width: 100%;
        margin-bottom: 16px;
      }
      h1{
        margin-bottom: 20px;
      }
      .actions{
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
