@import '../styles/main';

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex: 1;

  app-header {
    z-index: 1;
    flex: 0;
  }

  main.fullscreen{
    z-index: 0;
  }

  app-footer {
    z-index: 1;
    flex: 0;
  }
}


/* MOBILE ---------------------------------------------------------------- */

@media not ((min-width: $media-width-transition) and (orientation: landscape)) {
  :host{
    height: 100vh;
    app-header {
      flex: 0 0 auto;
    }

    main{
      overflow-y: clip;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      position: relative;
    }

    app-footer{
      flex: 0 0 auto;
    }
  }
}


/* DESKTOP --------------------------------------------------------------- */

@media ((min-width: $media-width-transition) and (orientation: landscape)) {
  :host{
    min-height: 100vh;
    app-header {
      flex: 0 0 auto;
    }

    main{
      flex: 1 1 auto;
      max-width: $desktop-window-width;
      margin: 0 auto;
    }

    app-footer{
      flex: 0 0 auto;
    }
  }
}
