@import '../../../styles/main';


/* MOBILE */
@media not ((min-width: $media-width-transition) and (orientation: landscape)) {
  :host{
    width: 100%;
    padding: 10px;
    h1{
      margin-bottom: 20px;
    }
    .full-width {
      width: 100%;
      margin-bottom: 16px;
    }
    .actions {
      flex: none;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      & > * {
        width: 100%;
      }
    }
  }
}




/* DESKTOP */
@media ((min-width: $media-width-transition) and (orientation: landscape)) {
  :host {
    float: left;
    width: 50%;
    h1{
      margin-bottom: 20px;
    }

    .full-width {
      width: 100%;
      margin-bottom: 16px;
    }

    .actions {
      display: flex;
      justify-content: left;
      align-items: stretch;
      gap: 10px;
      margin-top: 20px;
    }
  }
}


