<p>login works!</p>
<i class="fa-solid fa-magnifying-glass"></i>
<i class="fa-solid fa-floppy-disk"></i>
<i class="fa-solid fa-trash-can"></i>
<i class="fa-solid fa-border-all"></i>
<i class="fa-solid fa-clipboard"></i>
<i class="fa-solid fa-border-none"></i>
<i class="fa-solid fa-tags"></i>
<i class="fa-solid fa-globe"></i>
<i class="fa-solid fa-plus"></i>
<i class="fa-solid fa-circle-plus"></i>
<i class="fa-solid fa-file-circle-plus"></i>
<i class="fa-solid fa-eye"></i>
<i class="fa-solid fa-right-from-bracket"></i>
<i class="fa-solid fa-pencil"></i>
<i class="fa-solid fa-cloud"></i>



<!--

https://www.flaticon.com/free-icon/treasure_1007354?term=chest&related_id=1007354
https://www.flaticon.com/free-icon/chest_8339629?term=chest&page=1&position=92&origin=tag&related_id=8339629

-->
