<main class="content-wrapper">
  <p>login works!</p>

  <fa-icon [icon]="icons.faGlobe"></fa-icon>
  <fa-icon [icon]="icons.faFloppyDisk"></fa-icon>

  <!--

  https://www.flaticon.com/free-icon/treasure_1007354?term=chest&related_id=1007354
  https://www.flaticon.com/free-icon/chest_8339629?term=chest&page=1&position=92&origin=tag&related_id=8339629

  -->
  <div style="margin-left: auto; margin-right: auto">
    <p id="loginFeedback"></p>
  </div>
  <div>
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div>
        <label for="email">Email: </label>
        <input type="email" [formControl]="email" />
      </div>

      <div>
        <label for="password">Password: </label>
        <input type="password" [formControl]="password" />
      </div>

      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>

  <div *ngIf="email.errors">
  <span
    style="color: red"
    *ngIf="email.errors && (email.touched || email.dirty)"
  >
    <span *ngIf="email.errors['required']">Email is required</span>
    <div *ngIf="email.errors['pattern']">Email not a valid format.</div>
  </span>
  </div>

  <div *ngIf="password.errors">
  <span
    style="color: red"
    *ngIf="password.errors && (password.touched || password.dirty)"
  >
    <span *ngIf="password.errors['required']">Password is required</span>
    <span *ngIf="password.errors['minlength']"
    >Password must be greater tha 8 characters</span
    >
    <span *ngIf="password.errors['maxlength']"
    >Password can be max 16 characters long</span
    >
  </span>
  </div>
</main>

