@import '../../../styles/main';

/* MOBILE */
@media not ((min-width: $media-width-transition) and (orientation: landscape)) {
  :host {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    justify-content: space-between;

    h1 {
      flex: none;
      display: none;
    }

    .table-content {
      flex: 1;
      overflow-y: auto;


    }

    .actions {
      flex: none;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      background-color: map-get($mycofre-palette, 100);

      & > * {
        width: 100%;
      }
    }

    table {
      .actionButton {
        margin: 0 4px;
      }
    }
  }
}

/* DESKTOP */
@media ((min-width: $media-width-transition) and (orientation: landscape)) {
  :host {
    h1 {
      margin-bottom: 20px;
    }

    .actions {
      display: flex;
      justify-content: left;
      align-items: stretch;
      gap: 10px;
      margin-top: 20px;
    }

    table {
      .actionButton {
        margin: 0 10px;
      }
    }

  }
}
