
@media not ((min-width: 1200px) and (orientation: landscape)){
  .actions{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    & > *{
      width: 100%;
    }
  }

}


@media ((min-width: 1200px) and (orientation: landscape)){
  .actions{
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: stretch;
    gap: 10px;
  }
}
