@import '../../../styles/main';

/* MOBILE */
@media not ((min-width: $media-width-transition) and (orientation: landscape)) {
  :host{
    display: flex;
    flex-direction: column;
    height: 100%; // Ocupa todo el espacio disponible del contenedor padre
    overflow: hidden; // Evita que el contenido desborde el contenedor principal
    justify-content: space-between;
    h1 {
      flex: none; // Solo ocupa el espacio necesario
      display: none;
    }

    .table-content {
      flex: 1; // Ocupa todo el espacio restante entre h1 y .actions
      overflow-y: auto; // Permite desplazamiento si el contenido excede la altura disponible

      .mat-mdc-header-row.mdc-data-table__header-row.cdk-header-row{
          display: none !important;
      }
    }

    ::ng-deep .table-content table .mat-header-row {
      display: none;
    }

    .table-content table .mat-header-row {
      display: none !important; // Asegúrate de sobrescribir cualquier estilo existente
    }

    .table-content table .mat-header-cell {
      display: none !important; // Oculta las celdas de la cabecera si todavía se muestran
    }

    .actions {
      flex: none;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      background-color: map-get($mycofre-palette, 100);
      & > * {
        width: 100%;
      }
    }
  }
}

/* DESKTOP */
@media ((min-width: $media-width-transition) and (orientation: landscape)) {
  :host{
    .actions {
      display: flex;
      justify-content: left;
      align-items: stretch;
      gap: 10px;
      margin-top: 10px;
    }

  }
}
