<div class="signup-container">
    <h1>Signup</h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <!-- Nombre -->
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="signupForm.get('name')?.hasError('required')">
                El nombre es obligatorio.
            </mat-error>
        </mat-form-field>

        <!-- Apellido -->
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="surname" />
            <mat-error *ngIf="signupForm.get('surname')?.hasError('required')">
                El apellido es obligatorio.
            </mat-error>
        </mat-form-field>

        <!-- Correo electrónico -->
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Correo electrónico</mat-label>
            <input matInput type="email" formControlName="email" />
            <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
                El correo electrónico es obligatorio.
            </mat-error>
            <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
                Introduzca un correo electrónico válido.
            </mat-error>
        </mat-form-field>

        <!-- Contraseña -->
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
                La contraseña es obligatoria.
            </mat-error>
            <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">
                La contraseña debe tener al menos 6 caracteres.
            </mat-error>
        </mat-form-field>

        <!-- Confirmar Contraseña -->
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Confirmar Contraseña</mat-label>
            <input matInput type="password" formControlName="confirmPassword" />
            <mat-error *ngIf="signupForm.hasError('passwordsDoNotMatch') && signupForm.get('confirmPassword')?.touched">
                Las contraseñas no coinciden.
            </mat-error>
        </mat-form-field>


        <!-- Botón de Signup -->
        <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitting">
            Registrarse
        </button>

        <!-- Error general -->
        <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
    </form>
</div>
