.browser-container form {
  display: flex;
  width: 100%;
}

mat-form-field {
  flex: 1; // El input ocupa todo el espacio disponible
  margin: 0; // Elimina márgenes
}

button {
  flex: 0 0 120px; // Ancho fijo del botón
  margin: 0; // Elimina márgenes
  height: 56px;
}
