.upper-footer-layout{
  .horiz-wrapper{
    justify-content: space-between;
  }

  height: 200px;
  background-color: black;
}



.lower-footer-layout{
  .horiz-wrapper{
    justify-content: space-between;
  }

  height: 200px;
  background-color: black;
}
